.menu-bar {
  background-color: aquamarine;
}

.type {
  background-color: blueviolet;
}

.count {
  background-color: chartreuse;
}

.today {
  background-color: darkgoldenrod;
}

.before {
  background-color: darkmagenta;
}
